
<div class="menu">

  {% if page.title != "home" %}
    <a href="/en/index.html">home</a>
  {% else %}
    <span class="current">home</span>
  {% endif %}

  {% if page.title != "about" %}
    <a href="/en/about.html">about</a>
  {% else %}
    <span class="current">about</span>
  {% endif %}

  {% if page.title != "wedding" %}
    <a href="/en/wedding.html">wedding</a>
  {% else %}
    <span class="current">wedding</span>
  {% endif %}

  {% if page.title != "maternity" %}
    <a href="/en/maternity.html">maternity</a>
  {% else %}
    <span class="current">maternity</span>
  {% endif %}

  {% if page.title != "street" %}
    <a href="/en/street.html">street</a>
  {% else %}
    <span class="current">street</span>
  {% endif %}

  {% if page.title != "hotel" %}
    <a href="/en/hotel.html">hotel</a>
  {% else %}
    <span class="current">hotel</span>
  {% endif %}

  {% if page.title != "expos" %}
    <a href="/en/expos.html">expos</a>
  {% else %}
    <span class="current">expos</span>
  {% endif %}

    <a href="https://www.facebook.com/tonygaralg">ongoing</a>

    <a class="cart" href="/en/cart.html"><i class="fa fa-shopping-cart"></i></a>
</div>

