
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface"; // for user-select

//$iconSpritePath: "/images/glyphicons-halflings.png" !default;
//$iconWhiteSpritePath: "/images/glyphicons-halflings-white.png" !default;
//
//@import "bootstrap";
//@import "bootstrap-responsive";

$fa-font-path: "/fonts" !default;

@import "font-awesome";

//
// from the BootStrap example site

//body {
//  padding-top: 60px;
//  padding-bottom: 40px;
//}
//
//@media (max-width: 980px) {
//  /* Enable use of floated navbar text */
//  .navbar-text.pull-right {
//    float: none;
//    padding-left: 5px;
//    padding-right: 5px;
//  }
//}

.hidden {
  display: none;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  color: white;
  //text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;

  position: relative;
  overflow-x: hidden;
  //overflow-y: hidden;
}

a {
  color: grey;
  text-decoration: none;
  &:hover { color: white; }
}

$header_height: 63px;

.header {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 140%;
  color: black;
  width: 7000px;
  height: $header_height;
  * {
    height: 100%;
    float: left;
  }
  .left {
    background-color: rgba(255, 255, 255, 1.0);
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 63px;
    font-size: 130%;
    cursor: pointer;
  }
  .center {
    color: light-grey;
    a {
      padding: 3px 7px;
      padding-top: 21px;
      background-color: rgba(255, 255, 255, 1.0);
      cursor: pointer;
      &:hover { color: black; }
    }
    a.selected {
      color: white;
      background-color: rgba(255, 255, 255, 0.0);
    }
  }
  .right {
    width: 900px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 1.0);
  }
}

.content {
  padding-top: $header_height;
  //height: 100%;
}

.about {
  img {
    display: inline-block;
    width: 450px;
    padding: 14px;
    padding-bottom: 0;
  }
  .text {
    display: inline-block;
    width: 600px;
    p {
      padding-top: 1em;
    }
    p.social {
      a {
        display: block;
      }
      i {
        text-align: left;
        width: 1.5em;
      }
    }
  }
}

.show {
  position: relative;
  padding-top: $header_height;
  width: 100%;
  height: 100%;
  //z-index: -1;
  overflow-y: hidden;
  @include user-select(none);
  img {
    display: none;
    margin: auto;
    height: 80%;
  }
  .thumbs {
    position: absolute;
    top: 0px;
    img {
      display: block;
      width: 77px;
      border-top: 3px solid black;
      border-left: 2px solid black;
      @include filter(grayscale(100%));
    }
    img.selected {
      //opacity: 0.1;
      //@include filter(blur(2px) grayscale(100%));
      //margin: 3px;
      //@include filter(blur(3px));
      margin-left: 20%;
    }
  }
}

.heads {
  text-align: center;
  //margin-left: 1.0em;
  margin-bottom: 1.0em;
  .head {
    margin-top: 1.0em;
    text-align: left;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    img {
      width: 50px;
      @include filter(blur(2px) grayscale(100%));
    }
    .text {
      margin-top: 0.5em;
      opacity: 0.5;
    }
  }
  .head.selected {
    //margin-top: 3.5em;
    img {
      @include filter(grayscale(100%));
    }
    .text {
      opacity: 1.0;
    }
  }
}

