---
layout: null
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <title>Tony Garcia Photography - {{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="/css/page.css" rel="stylesheet" />
</head>

<body>

  <div class="header">
    <div class="left" data-cat="first">
      Tony Garcia Photography
    </div>
    <div class="center">
      <a class="item" data-cat="about">about</a>
      <a class="item" data-cat="wedding">wedding</a>
      <a class="item" data-cat="maternity">maternity</a>
      <a class="item" data-cat="street">street</a>
      <a class="item" data-cat="portrait">portrait</a>
      <a class="item" data-cat="scenery">scenery</a>
      <a class="item" data-cat="exhibitions">exhibitions</a>
      <a class="item" data-cat="more">more</a>
    </div>
    <div class="right">
      &nbsp;
    </div>
  </div>

  <div class="content">

    {{ content }}

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
  </script>
  <script src="/js/site.js">
  </script>

  <script>
    //$(document).ready(Cart.init);
    $(document).ready(TgMenu.init);
    $(document).ready(TgShow.init);
    $(document).ready(TgHeads.init);

    if ( ! window.location.href.match(/^http:\/\/localhost:/)) {
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53840ab58bfdf70586003f17');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    }
  </script>
</body>
</html>

